
.infoProjects__container{
    width: 100%;

    &__div{
     position: relative;
     height: 100%;
    }
    &__hr{
        position: relative;
        top: -1.5rem;
        width: 70%;
        height: 10px;
        background-color: $blue;
        opacity: 1;
        border-color: $blue;
       
        @media(max-width: 700px){        
         height: 5px;
         top: -1.3rem; 
        }
    }

    &__gallery{
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-auto-rows: auto 80vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    // height: 60vh;

    @media(max-width: 1100px){        
        grid-template-columns: 90%;
        // grid-auto-rows: 100%;
        justify-content: center;
        align-items: center;
        // height: 70vh;
    }
   

    &--description{
    background: linear-gradient(270.19deg, #FFFFFF 61.74%, #D2A5FF 99.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 25px;
    margin-left: 5rem;
    width: 90%;
    text-align: justify;

    @media(max-width: 1100px){        
        width: 90%; 
        justify-content: center;
        text-align: justify;
        margin-left: 0;
    }
    @media(max-width: 768px){    
        width: 95%; 
    }
    }


    &--images{
    @media(max-width: 1100px){    
        justify-content: center;
        text-align: justify;    
        width: 80%; 

    @media(max-width: 768px){    
        width: 95%; 
    }
    }

    & img{
        width: 100%;

    @media(max-width: 1100px){    
        justify-content: center;
        text-align: justify;    
        width: 80%; 
    }

    @media(max-width: 768px){    
        width: 95%; 
    }
    }



    }

   &__div__buttons{
    display: flex;
    flex-direction: grid;
    padding-top: 10px;
    justify-content: space-between;
    

    @media(max-width: 1100px){    
        width: 80%; 
    }

    @media(max-width: 768px){    
        width: 95%; 
    }

    &--ind{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows:  51px;
        gap:1em;
        align-items: center;
        justify-items: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid $blue;
        border-radius: 10px;
        // height: 51px;
        width: 219px;
        color: #fff;

        @media(max-width: 768px){    
            width: 45%; 
        }


        &:hover{
            background-color: $blue;
        }



        // &--ind {
        //     display: grid;
        //     grid-template-columns: 1fr;
        //     grid-auto-rows:  51px;
        //     gap:1em;
        //     align-items: center;
        //     justify-items: center;
        //     text-align: center;
        //     background: rgba(0, 0, 0, 0.5);
        //     border: 2px solid $blue;
        //     border-radius: 10px;
        //     width: 219px;
        //     color: #fff;
        //     z-index: 1;
        // }  
           
        // &--ind::before {
        //     content: '';
        //     width: 0;
        //     height: 100%;
        //     border-radius: 10px;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background: $blue;
        //     transition: .5s ease;
        //     display: block;
        //     z-index: -1;
        // }
           
        // &--ind:hover::before {
        //     width: 100%;
         }
        }
    }
}



.info_projects--details{
    // position: relative;
    width: 517px;
    height: 110px;
    top: -2rem;
    left: -2rem;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid $blue;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;


    @media(max-width: 1100px){    
        width: 75%; 
        height:80px;
        font-size: 24px;
        top: -1rem;
        left: -1rem;
        padding-top: 10px;
        border-radius: 15px;
    }

    @media(max-width: 768px){    
        width: 65%; 
        height:50px;
        font-size: 13px;
        top: 0rem;
        left: 0rem;
        padding-top: 15px;
        border-radius: 15px;
    }

}

//we need it to match the images on the carousel
.carousel-item.active {
    display: block;
    height: 50vw;
}